body{
    margin: 0;
    padding: 0;
    background-color: #815e4d;
}
header{
    display:flex;
    justify-content:center;
    height: 120px;
    background-image: url(fotos/x.jpg.jpg);
    background-position: center;
    background-size: cover;
    height: 620px;
    display: flex;
    justify-content: center;
    

    }
.container{
    width: 100%;
    height: 130px;
    background-color: #173b5e;
    margin: 0px;
    padding: 0px;
}
.title{
    font-size: 40px;
    color: #fff;
    font-family:cursive;
    margin-left: 500px;
    
}
.sub_tittle{
    font-size: 25px;
    color: #fff;
    font-family:cursive;
    margin-left: 550px;
    

}
.musicas{
    background-color: #000;
    height: 150px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.banner1,
.banner2,
.banner3{
    flex: 2;
    color: #fff;
    padding: 20px;

}
.banner1{
    background-color: #000;
    border-bottom: 2px solid #fff

}
.banner2{
    background-color: #000;
     border-bottom: 2px solid #fff

}
.banner3{
    background-color: #000;
     border-bottom: 2px solid #fff
}
.banner_tittle{
    font-size: 20px;
}
.footer_direitos{
    color: #5c5c5c;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    background-color: #000;
    }
footer a {
    color: #5c5c5c;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-decoration: none;
    background-color: #000;
    text-decoration: none;
    
}
footer{
    background-color: #000;
}