body{
    margin: 150px;
    padding: 0;
    font-size: 30px;
}
table{
    width: 400px;
    background-color: #5c5c5c; 

}

th,td{
border: 2px solid #000;
}
tr:nth-child(even){
    background-color: #ff0000;
}   
tr:nth-child(odd){
    background-color: #5c5c5c;
}   