@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

body{
   font-family: "Open Sans", sans-serif;
   margin: 0;
}
.line{
    background-color: #117050;
    height:10px;
}
.conteiner{
    max-width: 1140px;
    margin: auto;

}
.bar{
width:170px;
background-color: #006341;
height:22px;
}
h1{
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;
    margin: 20px, 0;
    margin-bottom:40px;
}
h2{
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin: 0px;
    line-height:45px;
    margin-top: 30px;
    margin-bottom:30px;

}
.button{
    border: 2px solid #454545;
    display: inline-block;
    padding:10px 30px;
    border-radius:3px;
    color: #454545;
    text-decoration: none;
    

}
.button:hover{
    color: #fff;
    background-color: #454545;
}



.header--area{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.header--rigth{
    display: flex;
    align-items: center;

}
.header--left img {
    width:64px;
    height: 64px;
}
.header--search form{
    display: flex;
}
.header--search input{
    font-size: 16px;
    padding:7px 10px;
    border: 1px solid #999999;
    outline: 0;
    width:100%;
    max-width: 220px;
}
.header--search button{
    border: 0;
    background:transparent;
    margin-left: -30px;
    cursor: pointer;
}
.header--search button img{
    width: 16px;
    height: 16px;

}
.header--menu{
    margin-left:50px;
    cursor: pointer;
}
.header--menu img{
    height: 24px;
    width: 24px;

}
.banner{
    background-image:url(../css/images/bg.jpg);
    background-position: center;
    background-size: cover;
    padding-top:90px;
    padding-bottom:90px;
}
.banner h1{
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;
    margin: 0px;
    margin-bottom:40px;
}
.banner--imgs img {
    width: 148px;
    height: 148px;
    border:6px solid #117050;
    border-radius: 50%;
    margin-top:60px;
    margin-right:40px;
}


.area1--text{
    margin-bottom:50px;
    line-height:25px;

}
.area-1{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
}

.area-1-content{
 padding:80px;
}
.area-1-img1{
    background-image: url(../css/images/f2.jpg);
    background-position: center;
    background-size: cover;
    height:350px;
}
.area-1-img2{
    grid-column: 2 / 3;
    grid-row:1 / 3 ;
    background-image: url(../css/images/f1.jpg);
    background-position: center;
    background-size: cover;
}
.area1--coult{
    margin-bottom:30px;

}
.area2--text{
    margin-bottom:50px;
    line-height:25px;

}
.area-2{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
}

.area-2-content{
 padding:80px;
}
.area-2-img1{
    background-image: url(../css/images/f4.jpg);
    background-position: center;
    background-size: cover;
    height:450px;
}
.area-2-img2{
    grid-column: 1 / 2;
    grid-row:1 / 3 ;
    background-image: url(../css/images/f3.jpg);
    background-position: center;
    background-size: cover;
}
.area-3-text{
    margin-bottom:50px;
    line-height:25px;

}
.area-3{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
}

.area-3-content{
 padding: 200px 80px;
 background-image: url(../css/images/bg2.jpg);
 background-position: left;
 background-size: cover;
}
.area-3-img1{
    background-image: url(../css/images/f5.jpg);
    background-position: center;
    background-size: cover;
 }
.area-4{
    display: grid;
    grid-template-columns: 450px 1fr;
    background-color: #e8e9ee;
}
.area-4-content{
    padding:  150px 80px;
}
.area-4-text{
    margin-bottom:50px;
    line-height:25px;
}
.area-4-img1{
    background-image: url(../css/images/bg3.jpg);
    background-position: left;
}
.area-5{
    background-image: url(../css/images/bg4.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}
footer{
    background-color: #333;
    color: #fff;
    padding:80px;
    text-align: center;
}

@media  (min-width:769px) and (max-width: 1140px){
    .conteiner{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}
@media (min-width:426px) and (max-width: 768px){
     .conteiner{
        padding-left: 20px;
        padding-right: 20px;
    }
    .area-1{
        grid-template-columns:3fr 2fr;
    }
    .area-2{
        grid-template-columns:2fr 3fr;
    }
    .area-3{
        grid-template-columns: 3fr 2fr;
    }
}
@media (max-width: 425px){
    .conteiner{
        padding-left: 20px;
        padding-right: 20px;
    }
    .header--menu{
        margin-left:20px;
    }
    .header--search input{
        max-width: 100px;
    }
    h1{
        font-size: 50px;
        line-height:50px;
    }
    h2{
        font-size: 25px;
        line-height:30px;
    }
    .banner--imgs img {
    width: 70px;
    height: 70px;
    border:3px solid #117050;
    border-radius: 50%;
    margin-right:10px;
    }   
    .area-1,
    .area-2,
    .area-3,
    .area-4{
        grid-template-columns: 1fr;
    }
    .area-1-content,
    .area-2-content,
    .area-3-content,
    .area-4-content{
        padding:40px;
    }
    .area-5{
        height:200px;
    }
    footer{
        font-size:12px;
        padding:40px 20px;
    }
}