body{
   margin: 0;
   padding: 0;
   font-family: arial;
   
}
header{
    display:flex;
    justify-content:center;
    height: 120px;
    

}
.container {
    display: flex;
    width: 990px;
    justify-content: space-between;
} 

.logo{
    height: 120px;  
    align-items: center;
    display: flex;


}

.menu{
    display: flex;
    align-items: center;
}

nav ul,
nav li  {
    list-style:none;
    margin:0;
    padding:0;


}
nav ul {
    display: flex;

}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform:uppercase;
    color:#727272;
    font-family: arial;
}
nav .active a,
nav a:hover {
    background-color: #39aae1;
    color:#fff

}
#banner{
    background-image:url("projetosite1/assets/images/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 620px;
    display: flex;
    justify-content: center;

}

 .column {
    flex-direction: column;
}
.banner_options{
    height: 210px;
    display:flex;


}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}
.banner_headline h1{
    color:#fff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    
}
.banner_headline h2{
    color:#fff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
    max-width: 350px;

}

.banner1,
.banner2,
.banner3{
    flex: 1;
    color: #fff;
    padding: 20px;
}
.banner1{
    background-color: #39aae1;

}
.banner2{
    background-color: #0079c7;

}
.banner3{
    background-color: #2b4c99;
}
.banner_tittle{
    font-size: 20px;
    
}
.banner_desc{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a{
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}
.horarios1{
    border-bottom: 2px solid #fff;
    margin-bottom: 15px;
    padding-bottom: 12px;
    
}
.horarios2{
    border-bottom: 2px solid #fff;
    margin-bottom: 15px;
    padding-bottom: 12px;
}
.horarios3{
    border-bottom: 2px solid #fff;
    margin-bottom: 15px;
    padding-bottom: 12px;
}

.espace{
    text-align: end;
    display: inline-block;
    margin-left: 200px;
   

}
#geral{
    display:flex ;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}
.widget_tittle{
    margin-top: 30px;
    margin-bottom: 30px;
}
.widget_tittle_text{
    color: #000;
    font-size: 23px;
    font-weight: bold;
}
.widget_tittle_bar{
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}
.quadrados{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 350px;

}
.quadrados div{
    width: 150px;
    height: 150px;
    background-color:#36a9e1;
    
    
    
}
.titulo{
    font-weight: bold;
    font-size: 17px;
}
.info1{
    margin-top: 40px;
    border-bottom:2px solid #646363;
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-top: 2px solid #646363;
    padding-top: 12px;

}
.info2{
    
    border-bottom:2px solid #646363;
    margin-bottom: 12px;
    padding-bottom: 12px;
    
    
}
.info3{
    
    border-bottom:2px solid #646363;
    margin-bottom: 12px;
    padding-bottom: 12px;

}
.flex{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right:20px;
}
article .news_data{
    display: flex;

}

article .posted_data{
    background-color:#2b4c99;
    color:#fff;
    font-size: 12px;
    padding: 10px;
    margin-right:2px;
}

article .news_comets{
    background-color:#39aae1;
    color:#fff;
    font-size: 12px;
    padding: 10px;
}
article .news_tamb{
    margin-top: 30px;
}
article .news_tamb img{
    width: 100%;
    height: auto;

}
article .news_tittle{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 23px;
    color:#000
}
article .news_resum{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;

}
article a{
    text-decoration: none;
}

footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu{
    display: flex;
    flex: 1;
    
}
.fm_1, .fm_2, .fm_3{
    flex: 1;
    color: #fff;
    padding: 20px;
    
}
.footer_menu a{
    display: block;
    text-decoration: none;
    color: #fff;
}
.fm_1{
    background-color: #39aae1;
   
    
}
.fm_2{
    background-color: #0079c7;

}
.fm_3{
    background-color: #2b4c99;
}

.flexcolumn{
    flex-direction: column;
}
.footer_area{
    display: flex;
    color: #fff;
}
.footer_areaitem{
    flex: 1;
}
footer .widget_tittle_text{
    color: #fff;
}
.footer_direitos{
    color: #5c5c5c;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin-top: 30px;
}
.widget_body2{
    margin-top: 40px;
    max-width: 120px;
    display: flex;
    font-size: 15px;
     color: #5c5c5c;
}
.espace2{
    display: inline-block;
    margin-left: 120px;
    margin-top: 40px;
    font-size: 15px;
    color: #5c5c5c;
    max-width: 120px;
    
}
.widget_body1{
    max-width:300px;
    font-size: 15px;
    color: #5c5c5c;
}
.text1{
    font-size: 15px;
    color: #fff;
    margin-bottom: 30px;
    overflow: hidden;
    max-width:300px;    
    text-overflow:clip;
}
.text2{
    font-size: 15px;
    color: #fff;
    margin-bottom: 30px;
    overflow: hidden;
    max-width:300px;    
    text-overflow:clip;
}
.text3{
    font-size: 15px;
    color: #fff;
    margin-bottom: 30px;
    overflow: hidden;
    max-width:300px;    
    text-overflow:clip;
}
.data{
    color: #2b4c99;
    flex: 2;
    
    
}
.menumobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;


}
.mm_line{
    height: 2px;
    background-color: #36a9e1;
    
}

@media (max-width:600px){
    .banner_headline{
        padding: 20px;
    }
    .banner_headline h1{
        font-size: 55px;
   

    }
    .banner_headline h2{
        font-size: 17px;
       

    }
    .banner_options{
        height: auto;
        flex-direction: column;
    }
    .container{
        flex-direction:column;
        
    }
    #geral section,
    #geral aside{
        padding: 20px;
       
    }
    .footer_menu{
        flex-direction: column;
    }
    .footer_area{
        flex-direction: column;
        padding: 20px;
    }
    .footer_direitos{
        padding-left: 20px;
    }
    header .container{
        flex-direction: row;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left:0;
        width: 100%;
        background-color: #fff;
        
    }
    header{
        height: auto;
    }
    .logo{
        padding-left: 20px;
    }
    .menumobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}

       
    

    

