*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat";
    font-size: 13px;
    overflow-x:hidden;
}
header{
  height: 100px;
  background-color: #000;
  color: #fff;
}
.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

}
.logoimg{
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}

.logo{
    width:100px;
    
}
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}

.menu ul,
.menu li{
    list-style: none;

}
.menu ul{
    display: flex;
}
.menu li a {
 color: #fff;
 text-transform: uppercase;
 font-weight:600;
 text-decoration: none;
 display: flex;
 padding-left: 10px;
 padding-right: 10px;
 height: 100px;
 align-items: center;
 border-bottom:5px solid #000;
}
.menu li a:hover,
.menu .active a{
 border-bottom: 5px solid #b28756;
 color:#5c5c5c
}
 .menu-opener{
    display: none;
 }
.button{
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner{
    height: calc(100vh - 100px);
    background-color:#333;
    background-image:url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders{
   width: 1000vw;
  height: 100%;
  
}
.banner .slide{
  width:100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;

}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner span{
    color:#b28756
}
.banner h2{
    text-transform: uppercase;
    margin-top: 20px;

}

.banner .sliders-pointer{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top:-50px;
    display: flex;
    justify-content: center;
    align-items:center;

}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;

}
.banner .pointer.active{
   background-color: #b28756;
}

.default{
  padding-top:50px;
  padding-bottom:50px;
}
.default .section-tittle,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
     font-weight: 600;
}
.default .section-tittle{
    font-size: 20px;
    font-weight: 600;
}
.default .section-desc{
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom:40px;

}
.default .section-body{
    max-width: 1140px;
    margin: auto;
}

.default.light{
    background-color: #f7f7f7;
}
.default.light .section-tittle,
.default.light .section-body{
    color: #000;
}
.default.dark{
    background-color: #000;
} 
.default.dark .section-tittle,
.default.dark .section-body{
    color: #fff;
}  













/*css especificos abaixo
*/
.section-aboutus{
    display: flex;

}
.section-aboutus--left{
    flex: 1;

}
.section-aboutus--left p{
    font-size: 14px;
    line-height: 25px;
}
.section-aboutus--right{
    width: 500px;
    text-align: center;
    margin-left: 14px;
}
.section-aboutus--right img{
    width: 520px;
    box-shadow: 0px 5px 10px #333;
      margin-left: 14px;
    
}
.section-services{
    display: flex;
}
.section-service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.section-service:first-child{
    border-left: 1px solid #333;
}
.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}




.section-projects{
     display: flex;
     flex-direction: column;
     align-items: center;

}
.section-projects-filters{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding:0px 20px;
}
.section-projects-filters ul,
.section-projects-filters li{
    list-style:none;
}
.section-projects-filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
    
}
.section-projects-filters li:hover,
.section-projects-filters li.active {
    border-bottom: 3px solid #b28756;
}
.section-projects-filters li:first-child{
    border-left: 0px;
}

.section-projects--photo{
    width: 100vw;
    max-width:1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.section-projects--photos{
    width:280px;

}
.section-projects--photoarea{
    margin: 10px;
    width:260px;
    height: 160px;
}
.section-projects--photoarea img{
    width: inherit;
    height: inherit;

}
.section-projects--photoinfo{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}

.section-projects--photoinfo h5{
    font-size: 18px;
    font-weight: 600;
}
.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}

.bg-team{
    background-image:url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0px;
}
.section-team-area{
    background-color:rgba(0, 0, 0, 0.5);
    padding-top: 80px;
    padding-bottom: 80px
}
.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.section-team .sliders{
   width: 1000vw;
  height: 100%;
  
}
.section-team .slide{
  width:280px;
  height: 100%;
  min-height:300px;
  display: inline-block;
  background-color:#fff;
  margin-right:20px;
}
.section-team .slidearea{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    flex-direction: column;
    padding:30px;

}
.section-team-area .sliders-pointer{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items:center;

}
.section-team-area .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;

}
.section-team-area .pointer.active{
   background-color: #b28756;
}
.section-team-avatar{
    width:150px;
    height:auto;


    
}
.section-team-name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-team-role{
    font-size: 14px;
    color: #999;
    margin-top:5px ;
}
.section-team-social{
    display: flex;
    margin-top: 20px;

}
.section-team-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 13px;
    margin-right: 10px;

}
.section-team-social a:hover{
    background-color: #b28756;
}
.cl-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-clt-name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-clt-role{
    font-size: 14px;
    color: #5c5c5c;
    margin-top:5px ;
 }
 .section-clt-aspas{
    margin-top: 30px;
    margin-bottom:20px;
 }
 .cl-area p{
    font-size: 14px;
    line-height: 25px;
    align-items: center;
    justify-content: center;
 }
 
 .section-clientes .sliders-pointer{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items:center;

}
.section-clientes .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left:5px;
    margin-right:5px;
    cursor: pointer;

}
.section-clientes .pointer.active{
   background-color: #b28756;
 }
 .section--area--logos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
 }
 .section--area--logos img{
    padding:40px;
 }
 .section-price{
   display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
   
    
 }

 .price-p{
  width:260px;
  height: 100%;
  min-height:370px;
  display: inline-block;
  background-color:#fff;
  margin-right:20px;
 }
.section-price-name{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px;
    font-size: 13px;
}
.section-price-number{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 15px;
    font-size: 20px;
}
.section-price-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    margin-top:5px;
    color: #999;
}
.desc-price{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 10px;
    margin-top:22px;
    color: #000;
}
.desc-price-p{
   display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 10px;
    color: #000; 
}
.price-p a{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:118px;
    margin-left:72px;
    margin-bottom: 10px;
    
}
.button_dark{
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}
.premium {
    background-color:#FFF !important;
    border-top:1px solid #CCC;
}
.premium .section-body {
    max-width:initial;
}
.section-premium {
    overflow:hidden;
}
.section-premium a {
    margin-top:30px;
}
.section-premium .sliders {
    width:1000vw;
    height:100%;
}
.section-premium .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-premium .slidearea {
    display:flex;
    height:100%;
    justify-content: center;
    align-items:center;
    max-width:1140px;
    border-bottom:1px solid #CCC;
    margin:auto;
    padding-bottom:40px;
}
.section-premium--left {
    flex:1;
    text-align:right;
}
.section-premium--left img {
    width:300px;
    margin-right:30px;
}
.section-premium--right {
    flex:1;
}
.section-premium--item {
    display:flex;
    margin-bottom:20px;
}
.section-premium--item img {
    width:20px;
    height:20px;
    margin-right:20px;
}
.section-premium--item div {
    flex:1;
    color:#999;
    line-height:20px;
}
.section-premium--item div h4 {
    color:#000;
    font-size:17px;
    font-weight:600;
}

.section-premium .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-premium .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-premium .pointer.active {
    background-color:#B28756;
 }


.section-facts{
    display: flex;
}
.section-fact{
    flex: 1;
    text-align: center;
    padding: 15px;
}
.section-fact h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 15px;
}
.section-fact p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}
.section-fact h5{
    
    text-transform: uppercase;
    font-size:50px;
    color: #B28756;
    
}
.section-fact h5{
    position: relative;
    display: inline-block;
}

.section-fact h5::after {
    content: "";
    width: 40px;   
    height: 3px;     
    background: #b28756;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}
.section--area--midia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:15px;
}
.section--area--midia p{
    margin-left:10px;
    text-transform: uppercase;
    font-size: 11px;
    color: #5c5c5c;  
}
.section--area--midia img{
    margin-left:15px;
    height: 20px;
    background-color: #000;

    
}
.section-contact {
    max-width:450px;
    margin:auto;
    text-align:center;
}
.section-contact input[type=text],

.section-contact textarea {
    display:block;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    margin-top:10px;
}
.section-contact textarea {
    height:100px;
    resize:none;
}
.section-contact--split {
    display:flex;
}
.section-contact--split input:first-child {
    margin-right:20px;
}

.section-map{
    background-image:url(../images/mapa..png);
    height: 300px;
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom:30px;
}
.section-map-area{
    max-width:1140px;
    width:100vw;
    margin: auto;
    
}
.section-map-info{
    width:50%;
    padding:30px;
    background-color:#fff;
    color: #000;

}
.section-map-info-item{
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom:10px;
}

.section-map-info-item-img{
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #ccc;
    border-radius: 15px;
    margin-right:15px;

}
.section-map-info-item-img img{
    width:15px;
    height:auto;

}



@media  (min-width:450px) and (max-width:800px) {
    .menu-opener{
        width: 45px;
        margin-right: 30px;
        display: block;
    } 
    
    .logo{
        margin-left:30px;
    }
    
    
    nav {
        display: none;
       position: absolute;
       z-index: 99;
       background-color: rgba(0, 0, 0, 0.9);
       width:70vw;
       height: calc(100vh - 100px);
       top:100px;
       right:0;
     }

     .menu ul{
        flex-direction: column;

     }
     .menu li a{
        font-weight: bold;
        height: 80px;
        font-size:27px;
        margin-left: 50px;
        border:0;
     }
     .menu .active a {
        border: 0;
        color:#B28756;
     }

     .section-aboutus{
        flex-direction: column;
     }
     .section-aboutus--left{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
     }
     .section-aboutus--right{
        width: auto;
     }
     .section-services{
        flex-wrap: wrap;
     }
     .section-service{
        min-width:50%;
        margin-bottom:10px;
     }
     .section-service:first-child{
        border-left: 0;
     }

     .section-team{
        max-width: 580px;
     }

     .section-map{
        padding-left: 30px;
        padding-right: 30px;

     }   
     .section-map-area{
        width:auto;
     }

     .section-map-info{
        width: auto;

     }
     .section-map-info-item{
        margin-bottom: 20px;
     }

     .section-map-info-item:last-child{
        margin-bottom: 0;
     }


}

@media   (max-width:450px) {
    .menu-opener{
        width: 45px;
        margin-right: 30px;
        display: block;
    } 
    
    .logo{
        margin-left:30px;
    }
    
    
    nav {
        display: none;
       position: absolute;
       z-index: 99;
       background-color: rgba(0, 0, 0, 0.9);
       width:80vw;
       height: calc(100vh - 100px);
       top:100px;
       right:0;
     }

     .menu ul{
        flex-direction: column;

     }
     .menu li a{
        font-weight: bold;
        height: 60px;
        font-size:20px;
        margin-left: 30px;
        border:0;
     }
     .menu .active a {
        border: 0;
        color:#B28756;
     }
     .banner h1{
        font-size:30px;
     }
     .banner h2{
        font-size: 17px;
     }

     .section-aboutus{
        flex-direction: column;
     }
     .section-aboutus--left{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
     }
     .section-aboutus--right{
        margin-left: 30px;
        margin-right: 30px;
        width: auto;
     }
     .section-aboutus--right img {
        width: 100%;
        margin-top: 20px;
     }
     .section-services{
        flex-wrap: wrap;
     }
     .section-service{
        min-width:100%;
        margin-bottom:10px;
     }
     .section-service:first-child{
        border-left: 0;
     }

     .section-team{
        max-width: 280px;
     }
     .section-projects-filters{
        margin-left:30px;
        margin-right:30px;
     }
     .section-projects--photos{
        width:320px;
     }
     .section-projects--photoarea{
        width:300px;
        height: 190px;

     }

     .section-map{
        padding:0;
        padding-bottom:250px;

     }   
     .section-map-area{
        width:auto;
     }

     .section-map-info{
        width: auto;

     }
     .section-map-info-item{
        margin-bottom: 20px;
     }

     .section-map-info-item:last-child{
        margin-bottom: 0;
     }
     

}